* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #a0522d;
}

#container {
	position: relative;
	width: 100%;
	height: 80vh;
	overflow: hidden;
	border-bottom: solid 8px #ffd180;
}

.status {
	width: 100%;
	padding: 2px 10px;
	background: #fff;
	font-family: 'Comic Sans MS';
	font-size: 1.5em;
	display: flex;
	justify-content: space-between;
}

#bg {
	width: 2560px;
	height: 100%;
	z-index: -1;
	background-image: url('img/BG.png');
	background-repeat: repeat-x;
	background-position: left bottom;
	animation: slideBg 5s linear infinite;
}

#dino {
	width: 20%;
	height: 120px;
	position: absolute;
	bottom: 0px;
	left: 100px;
	z-index: 1;
	background-image: url('img/run1.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: contain;
	animation: moving 500ms steps(1,end) infinite;
}

#spike {
	width: 10%;
	height: 80px;
	position: absolute;
	bottom: 0px;
	left: 1000px;
	background: url('img/cactus1.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: contain;
	animation: slideObj 5s linear infinite;
	animation-play-state: paused;
}

@keyframes slideBg {
	0% {
		transform: translate(0);
	}
	100% {
		transform: translate(-1280px);
	}
}

@keyframes moving {
	0% {
		background-image: url('img/run1.png');
	}
	25% {
		background-image: url('img/run2.png');
	}
	50% {
		background-image: url('img/run3.png');
	}
	75% {
		background-image: url('img/run2.png');
	}
	100% {
		background-image: url('img/run1.png');
	}
}

@keyframes jumping {
	20% {
		bottom: 100px;
		background-image: url('img/jump1.png');
	}

	30% {
		bottom: 150px;
		background-image: url('img/jump2.png');
	}

	70% {
		bottom: 120px;
		background-image: url('img/jump3.png');
	}
	90% {
		bottom: 50px;
		background-image: url('img/jump3.png');
	}
}

@keyframes slideObj {
	0% {
		left: 2000px;
	}
	100% {
		left: -100px;
	}
}

@media (max-width: 500px) {
	#dino {
		left: 20px;
	}
}